/* Allow the live user to run Calamares without authentication */
polkit.addRule(function(action, subject) {
    if ((action.id == "org.freedesktop.policykit.exec") &&
        subject.user == "live") {
        return polkit.Result.YES;
    }
});
